################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.ipch
*.db
*.db-shm
*.db-wal
*.opendb
/.vs
*.tlog
/Project255/x64/Debug
/x64/Debug
